.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--headerHight);
    padding: 0 20px;
    background-color: var(--background);
    z-index: 200;
    font-weight: 600;
}

.navDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 35px;
    width: 40px;
}

.logo:hover {
    cursor: pointer;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

.link:hover {
    color: var(--textHover);
}

.select {
    margin-left: 20px;
    background: none;
    border: none;
}

.select:hover {
    cursor: pointer;
    outline: none;
}

.navLogo {
    display: none;
    position: absolute;
    top: 11px;
    left: 10px;
    z-index: 200;
}

.navLogo:hover {
    cursor: pointer;
}

.navSmallScreenContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3)
}

.navSmallScreen {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 10px;
    padding: 7px 10px 10px 50px;
    z-index: 100;
    opacity: 1;
}

@media (max-width: 870px) {
    .header {
        flex-direction: column;
        padding-top: 10px;
    }

    .select {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 0.9rem;
    }
}

@media (max-width: 550px) {
    .logo {
        height: 30px;
        width: 35px;
    }

    .select {
        top: 15px;
        font-size: 0.8rem;
    }

    .navBigScreen {
        display: none;
    }

    .navLogo {
        display: block;
    }

    .nav {
        flex-direction: column;
        align-items: start;
        margin-bottom: 5px;
    }
}

@media (max-width: 372px) {
    .logo {
        height: 25px;
        width: 30px;
    }

    .navLogo {
        height: 25px;
        width: 25px;
        top: 8px;
    }
}

@media (max-width: 325px) {
    .link {
        font-size: .8rem;
    }
}