.technologies {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 50px;
    max-height: 200px;
    overflow: scroll;
    max-width: 900px;
}

.swipe:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.h2 {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    margin: 20px 0;
    border-bottom: 1px solid var(--text);
    padding-bottom: 5px;
    width: 100%;
}

@media (max-width: 870px) {
    .h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 550px) {
    .h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 450px) {
    .h2 {
        font-size: 1rem;
    }
}

@media (max-width: 372px) {
    .h2 {
        font-size: 0.8rem;
    }
}