.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 900px;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.scrollLeft {
    display: none;
}

.scrollRight {
    display: none;
}

.scrollLeft:hover , .scrollRight:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.whiteDiv {
    display: none;
    width: 50px;
}

@media (max-width: 970px) {
    .whiteDiv {
        display: block;
    }

    .scrollLeft {
        display: block;
    }

    .scrollRight {
        display: block;
    }
}

@media (max-width: 460px){
    .scrollLeft {
        width: 40px;
    }
    
    .scrollRight {
        width: 40px;
    }

    .whiteDiv {
        width: 40px;
    }
}

@media (max-width: 350px){
    .scrollLeft {
        width: 30px;
    }
    
    .scrollRight {
        width: 30px;
    }

    .whiteDiv {
        width: 30px;
    }
}