@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400&display=swap');

:root {
    --background: #091B29;
    --textHover: #38A2E4;
    --headerHight: 50px;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: .3s;
}

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
    font-size: 16px;
}

main {
    position: relative;
    top: var(--headerHight);
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--textHover);
}

footer p {
    color: var(--background);
}

.errorPage {
    position: relative;
    top: var(--headerHight);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.errorPage img {
    height: 300px;
    width: 280px;
}

.errorPage h1 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--textHover);
}

@media (max-width: 870px) {
    :root {
        --headerHight: 80px
    }

    footer * {
        font-size: 0.8rem;
    }

    .errorPage img {
        height: 240px;
        width: 200px;
    }
    
    .errorPage h1 {
        font-size: 2rem;
    }
}

@media (max-width: 550px) {
    :root {
        --headerHight: 70px
    }

    footer * {
        font-size: 0.65rem;
    }

    .errorPage img {
        height: 200px;
        width: 170px;
    }
    
    .errorPage h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 390px) {
    :root {
        --headerHight: 60px
    }

    footer * {
        font-size: 0.55rem;
    }

    .errorPage img {
        height: 160px;
        width: 140px;
    }
    
    .errorPage h1 {
        font-size: 1.2rem;
    }
}