@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: #fafafc;
    --text: #183B56;
    --textHover: #0167DE;
    --box: #F2F2F2;
    --headerHight: 50px;
}
*{
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    color: var(--text);
    margin: 0;
    padding: 0;
    transition: .3s;
    /* border: 1px solid red; */
}

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
    font-size: 16px;
}

main {
    position: relative;
    top: var(--headerHight);
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: solid 2px var(--textHover);
}

footer p {
    color: var(--textHover);
}

.sliderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .slick-slider {
    height: 33.3333%;
    max-height: 300px;
    max-width: 900px;
    padding: 31px 0;
    margin-bottom: 20px;
}
main .slick-slider div {
    height: 100%;
}

.slick-slider .slick-prev {
    background-color: #000;
    z-index: 50;
    opacity: .02;
    left: 0;
    height: 100%;
    width: 50px;
}

.slick-slider .slick-next {
    background-color: #000;
    opacity: .02;
    right: 0px;
    height: 100%;
    width: 50px;
}

.errorPage {
    position: relative;
    top: var(--headerHight);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.errorPage img {
    height: 300px;
    width: 280px;
}

.errorPage h1 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--textHover);
}

@media (max-width: 870px) {
    :root {
        --headerHight: 80px
    }

    main {
        top: 0;
    }

    footer * {
        font-size: 0.8rem;
    }

    .errorPage img {
        height: 240px;
        width: 200px;
    }
    
    .errorPage h1 {
        font-size: 2rem;
    }
    main .slick-slider {
        height: 50vw;
        max-height: none;
    }
}

@media (max-width: 550px) {
    :root {
        --headerHight: 50px
    }

    footer * {
        font-size: 0.65rem;
    }

    .errorPage img {
        height: 200px;
        width: 170px;
    }
    
    .errorPage h1 {
        font-size: 1.7rem;
    }
    main .slick-slider {
        height: 100vw;
        padding: 31px 0;
    }

}

@media (max-width: 390px) {
    footer * {
        font-size: 0.55rem;
    }

    .errorPage img {
        height: 160px;
        width: 140px;
    }
    
    .errorPage h1 {
        font-size: 1.2rem;
    }
}