.homePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

.p {
    font-size: 1.5rem;
}

.h1 {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.button {
    background-color: var(--textHover);
    border: solid 2px var(--textHover);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: var(--background);
    transition: .5s;
}

.button:hover {
    cursor: pointer;
    background: transparent;
    color: var(--textHover);
}

.contact {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social:hover {
    transform: scale(1.05);
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

@media (max-width: 870px){
    .homePage {
        padding-top: 100px;
        flex-direction: column;
        justify-content:flex-start;
    }

    .presentation {
        order: 2;
        text-align: center;
    }

    .img {
        order: 1;
        height: 300px;
        width: 280px;
    }

    .p {
        font-size: 1.3rem;
    }

    .h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 550px){
    .img {
        height: 250px;
        width: 235px;
    }

    .p {
        font-size: 1.1rem;
    }

    .h1 {
        font-size: 3rem;
    }

    .contact {
        flex-direction: column;
    }

    .button {
        height: 40px;
        width: 70%;
        font-size: 0.8rem;
    }

    .social {
        margin-top: 10px;
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 450px){
    .img {
        height: 210px;
        width: 200px;
    }

    .p {
        font-size: 1rem;
    }

    .h1 {
        font-size: 2.65rem;
    }
}

@media (max-width: 372px){
    .img {
        height: 180px;
        width: 165px;
    }

    .p {
        font-size: 0.8rem;
    }

    .h1 {
        font-size: 2.2rem;
    }

    .button {
        height: 30px;
        font-size: 0.6rem;
    }

    .social {
        margin-top: 7px;
        height: 30px;
        width: 30px;
    }
}