.technologie{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 30px;
}

.img {
    margin-right: 10px;
}

.title {
    font-size: 1rem;
    text-align: center;
}